.grow{
    background-color: $very_pale_blue;
    padding: 2.5rem 0;

    &__top-bg{
        @include section-background('../images/bg-section-top-mobile-1.svg');
        margin-top: 1rem;
    }

    &__bottom-bg{
        @include section-background('../images/bg-section-bottom-mobile-1.svg');
        margin-bottom: 1rem;
    }

    &__container{
        @include container;
        @include flexItem(center,space-around);
        flex-direction: column;
        text-align: center;
        padding: 1.5rem 0;

        & article{
            padding-top: 2rem;
        }

        & h3{
            padding:1rem 0;
        }
    }
}