.nav{
    @include container;
    @include flexItem(center,space-between);
    padding: 1.2rem 0;

    &__logo img{
        width:8rem;
    }

    &__btn {
        background-color: transparent;
        border: 1px solid $pink;
        color: $pink;
        border-radius: 1.5rem;
        text-transform: capitalize;
        padding: 0.5rem 1.2rem;
        @include transition;
    }

    &__btn:hover{
        cursor: pointer;
        border-color: $light_pink;
        color:$light_pink;
    }

}